.alert-dismissible {
    background-color: rgba(228, 90, 90, 0.466);
}

.image {
    border-radius: 10px;
    max-width: 500px;
    max-height: 700px;
}

.content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container-image{
    position: absolute;
    z-index: 1;
    margin: 0;
    padding: 0;
}

.card-face {
    border: 2px solid blue;
    position: absolute;
    z-index: 2;
}
